/node_modules
/public/hot
/public/storage
/public/js
/public/js/app.js
/public/js/manifest.js
/public/css
/public/css/app.css
/public/mix-manifest.json
/storage/*.key
/storage/framework/laravel-excel
/vendor
*.csv
*.sql
*.tar.gz
*.zip
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
npm-debug.log
yarn-error.log
composer.lock
package-lock.json