/**
 * Tailwind's base styles, which is a combination of normalize.css
 * and some thin layer of additional more opinionated styles.
 * https://unpkg.com/tailwindcss/dist/base.css
 */

 @tailwind base;

 /**
  * Tailwind's component styles, which contains component classes.
  * You must add custom component classes after this import.
  * https://unpkg.com/tailwindcss/dist/components.css
  */
 
 @tailwind components;
 
 /**
  * Tailwind's utility styles, which provides a comprehensive set
  * of utility classes generated based on your config file.
  * https://unpkg.com/tailwindcss/dist/utilities.css
  */
 
 @tailwind utilities;

 .mx-datepicker {
    width: 100% !important;
}

.width-29-percent {
	width: 29%;
}

.loader {
  border-top-color: #001943;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.w-90-percent {
  width: 90%;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
